@import url("/static/css/micons/micons.css");
:root {
    --color1: #2980b9;
    --color2: #079cff;
    /* --color2: #078be2; */
    --gradColorLeft: #09009f;
    --gradColorRight: #00ff95;

    --gradColorLeft: #191654;
    --gradColorRight: #43C6AC;

    --gradColorLeft: #000428;
    --gradColorRight: #2c7baf;



}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(248, 247, 247);

}

header {
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: white;

}

header>a>h1 {
    background: linear-gradient(45deg, var(--gradColorLeft), var(--gradColorRight) 150px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

section h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    padding-bottom: 0.1rem;
    font-weight: 700;

    background: linear-gradient(45deg, var(--gradColorLeft), var(--gradColorRight) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

section h4 {
    font-size: 1.3rem;
    color: rgb(106, 107, 110);
    padding-bottom: 0.4rem;

}


.author {
    display: grid;
    grid-template-columns: 2.9rem 1fr;
    grid-gap: 0.4rem;
}

.author>a>img {
    height: 2.9rem;
    border-radius: 2rem;

}

.author>p {
    align-self: center;
}

article {
    text-align: justify;
    line-height: 1.5em;
}

.article-image img{
    display: block;
    width: auto;
    height: 25vw;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1.6rem;
    margin-right: auto;
    margin-left: auto;
}

.outer-container {
    display: grid;
}

.main-container {
    justify-self: center;
    display: grid;
    justify-items: center;

    grid-gap: 1.6rem;
    grid-column-gap: 2.3rem;

    grid-template-areas:
        "article-title empty"
        "article-container side-container";
    grid-template-columns: 4fr 1fr;

    width: 75vw;
    margin-bottom: 2.6rem;
}


.side-container {
    justify-self: end;
    font-size: 1.3rem;

}

ul {
    list-style: none
}


a {
    text-decoration: none;
    color: black;
}

a:hover>h5 {
    background: linear-gradient(45deg, var(--gradColorLeft), var(--gradColorRight) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article-title {
    justify-self: start;
}

.other-img>a>img {
    height: 10vw;
    width : auto;
    min-width: 70%;
    border-radius: 50%;

}

.brief>ul {
    margin-bottom: 1.3rem;
}


@media only screen and (max-width: 835px) {
    .outer-container {
        display: grid;
    }

    .main-container {
        justify-self: center;
        display: grid;
        justify-items: center;

        grid-gap: 1.6rem;
        grid-column-gap: 3.3rem;

        grid-template-areas:
            "article-title"
            "article-container"
            "side-container";
        grid-template-columns: 1fr;

        width: 75vw;

    }

    .side-container {
        justify-self: start;
        font-size: 1.3rem;
        display: grid;
        grid-template-columns: 1fr;
        width: 75vw;

    }

    .brief {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.6rem;

        width: 75vw;

    }

    .other-img>a>img {
        height: 15vh;
        object-fit: cover;

    }

}

@media only screen and (max-width: 550px) {
    .outer-container {
        display: grid;
    }

    .main-container {
        justify-self: center;
        display: grid;
        justify-items: center;

        grid-gap: 1.6rem;
        grid-column-gap: 3rem;

        grid-template-areas:
            "article-title"
            "article-container"
            "side-container";
        grid-template-columns: 1fr;

        width: 75vw;

        margin-bottom: 3.6rem;

    }

    .side-container {
        justify-self: start;
        font-size: 1.3rem;
        display: grid;
        grid-template-columns: 1fr;
        width: 75vw;

    }

    .brief {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.6rem;

        width: 60vw;

    }

    .other-img>a>img {
        height: 15vh;
        object-fit: cover;
    }

}
/* _________________________________________________________ */

.back-button{
    height: 15vh;
    width: 75vw;
    /* background: radial-gradient(circle farthest-side, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30); */

    color: var(--color1);

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.back-container{
    display: grid;
    grid-template: 1fr;
    justify-items: center;

}

.back-button > a{
    padding: 0.8rem 1.1rem;  
    border: solid var(--color1) 0.2rem;  
    color: var(--color1);
    font-weight: 500;
    font-size: 1rem;
    /* letter-spacing: 0.2rem; */

    border-radius: 0.3rem;
    
}

.back-button a:hover
{
    color: black;
    background-color:var(--color1);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

}

@media only screen and (max-width: 835px) {
    .back-button{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
}



/* _____________________________________________________________ */


footer{
    background-color: #111;
    color: gray;
    line-height: 1.8rem;
}

footer h4.h05 {
    color: #FFFFFF;
    margin-bottom: 3rem;
}


.footer-main{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.footer-main > .row{
    width: 70vw;
    padding:3rem;
}

.footer-main > .row{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.footer-social>p{
    padding: 2rem;
    color: white;
}
.list-links >li >a {
    color: grey;
}

.footer-main #mc-form input[type="email"] {

    height: 0.6rem;
    padding: 1.5rem 8rem 1.5rem 2rem;
    margin-bottom: 1.5rem;
    width: 12vw;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.9)
}

.footer-subscribe>p{
    margin-bottom: 1.6rem;
}

.subscribe-form > .group{
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.footer-main #mc-form button {
    background-color:var(--color1);
    border-style: none;
    color: #000000;

    width:3.5rem;
    height:3.5rem;
    

    margin: 0;
    padding: 0;
    right: 0;
    top: 0
}

.footer-main #mc-form button:hover {
    background-color: var(--color2);   
}

.footer-main #mc-form button i {
   
    font-size: 1.6rem;
}

footer a,
footer a:visited {
    color: white;
}

footer a:focus,
footer a:hover {
    color: var(--color1)
}

@media only screen and (max-width: 835px) {
    .footer-main > .row{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: start;
    }
    footer h4.h05 {
        color: #FFFFFF;
        margin-bottom: 0.6rem;
    }

    .footer-about,.footer-main,.footer-social{
        margin-bottom: 2rem; 
    }
}
.log{
    /* Gradient name: Royal */
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);


    /* background: radial-gradient(circle closest-side, #243B55, #141E30); */

    background: radial-gradient(circle farthest-side, #243B55, #141E30);
    /* margin-left: 3rem;
    margin-right: 3rem; */
    padding: 5%;
}
.login-form{
  font-family: Helvetica;
  padding: 40px;
  width: 60%;
  background: #191919;
  position: relative;
  box-shadow: 0 0 7px #000428;
  top:40%;
  left: 2%;
  /* transform: translate(-50%,-50%); */
  margin: auto 10px;
  text-align: center;
  overflow: hidden;
}

.login-form h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.login-form input[type = "text"],.login-form input[type = "password"]{
    border:0;
    position: relative;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 60%;
    outline: none;
    color: white;
    border-radius: 8px;
    transition: 0.25s;
}

.login-form input[type = "text"]:focus,.login-form input[type = "password"]:focus{
    width: 80%;
    border-color: #2ecc71;
}

.login-form input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 8px;
    transition: 0.25s;
    cursor: pointer;
}

.login-form input[type="submit"]:hover{
    background: #2ecc71;
}
.login-form span{
    text-align: center;
    margin: 20px auto;
    color: white;
    display: block;
    padding: 3px;
    border-radius: 10px;
    width: 40%;
    border: 2px solid red;
    font-size: 10px;
}

.login-form p{
    color: #FFFFFF;
}

@media only screen and (min-width: 401px) and (max-width: 960px){
    .log{
        padding: 10%;
    }

    .login-form{
        top:50%;
        left: 10%;
      },

      .login-form h1,
      
      .login-form input[type = "text"],.login-form input[type = "password"],
      .login-form input[type = "text"]:focus,.login-form input[type = "password"]:focus,
      
      .login-form input[type = "submit"],
      
      .login-form input[type="submit"]:hover,

      .login-form span,
      .login-form p
}

@media only screen and (min-width: 960px) {
    .log{
        padding: 10%;
        padding-left: 20%;
        padding-right: 20%;
    }

    .login-form{
        top:50%;
        left: 15%;
      },

      .login-form h1,
      
      .login-form input[type = "text"],.login-form input[type = "password"],
      .login-form input[type = "text"]:focus,.login-form input[type = "password"]:focus,
      
      .login-form input[type = "submit"],
      
      .login-form input[type="submit"]:hover,

      .login-form span,
      .login-form p
}