<head>
   <title>Form Submit</title> 
</head>
<body>
    <h1>{{contactName}}</h1>
    <h1>{{contactEmail}}</h1>
</body>

<!---
   <!-- portfolio
   ==================================================
   <section id="portfolio">
   	
			<div class="intro-wrap">
  
				 <div class="row narrow section-intro with-bottom-sep animate-this">
					  <div class="col-twelve">
							<h3>Development</h3>
							<h1>Gallery of Innovation</h1>  			
							
							<p class="lead">Keeping track of development for more than a year now, definitely has been an arduous journey, but amazing nonetheless.</p>	   			
					  </div>   		
				 </div> <!-- end row section-intro   		
  
			</div> <!-- end intro-wrap   	
  
			<div class="row portfolio-content">
				 <div class="col-twelve">
					  <div id="folio-wrap" class="bricks-wrapper">					

							<div class="brick folio-item">
							<div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-shutterbug.jpg" data-sub-html="#01" > 	
								<a href="#" class="overlay">
									 <img src="/static/images/portfolio/shutterbug.jpg" alt="Skaterboy">	                     
									<div class="item-text">
										 <span class="folio-types">
													  Web Development
												  </span>
												  <h3 class="folio-title">Shutterbug</h3>	     					   
											  </div>                                        
								</a>
								<a href="https://www.behance.net/" class='details-link' title="details">
									 <i class="icon-link"></i>
								</a>
							</div> <!-- end item-wrap
								  
								  <div id="01" class='hide'>
										<h4>Shutterbug</h4>
										<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
								  </div>
							 </div> <!-- end folio-item
  
							 <div class="brick folio-item">
							<div class="item-wrap animate-this" data-src="/static/images/portfolio/gallery/g-yellowwall.jpg" data-sub-html="#02"> 	
								<a href="#" class="overlay">
									 <img src="/static/images/portfolio/yellowwall.jpg" alt="Shutterbug">	                     
									<div class="item-text">
										 <span class="folio-types">
													  Marketing
												  </span>
												  <h3 class="folio-title">Yellow Wall</h3>  	     					   
											  </div>                                        
								</a>
								<a href="https://www.behance.net/" class='details-link' title="details">
									 <i class="icon-link"></i>
								</a>
							</div> <!-- end item-wrap
  
							<div id="02" class='hide'>
										<h4>Yellow Wall</h4>
										<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
								  </div>	               
							 </div> <!-- end folio-item
  
							 <div class="brick folio-item">
							<div class="item-wrap animate-this" data-src="/static/images/portfolio/gallery/g-architecture.jpg" data-sub-html="#03" >   	
								<a href="#" class="overlay">
									 <img src="/static/images/portfolio/architecture.jpg" alt="Explore">	                     
									<div class="item-text">	                     		     					    
												  <span class="folio-types">
													  Web Design
												  </span>
												  <h3 class="folio-title">Architecture</h3>
											  </div>                                        
								</a>
								<a href="https://www.behance.net/" class='details-link' title="details">
									 <i class="icon-link"></i>
								</a>
							</div> <!-- end item-wrap	
  
							<div id="03" class='hide'>
										<h4>Architecture</h4>
										<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
								  </div>               
							 </div> <!-- end folio-item
  
							 <div class="brick folio-item">
							<div class="item-wrap animate-this"  data-src="/static/images/portfolio/gallery/g-minimalismo.jpg"  data-sub-html="#04" >
								<a href="#" class="overlay">
									 <img src="/static/images/portfolio/minimalismo.jpg" alt="Minimalismo">	                     
									<div class="item-text">	     					    
												  <span class="folio-types">
													  Web Design
												  </span>
												  <h3 class="folio-title">Minimalismo</h3>
											  </div>                                        
								</a>
								<a href="https://www.behance.net/" class='details-link' title="details">
									 <i class="icon-link"></i>
								</a>
							</div> <!-- end item-wrap
  
							<div id="04" class='hide'>
										<h4>Minimalismo</h4>
										<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
								  </div>  	               
							 </div> <!-- end folio-item
  
							 <div class="brick folio-item">
							<div class="item-wrap animate-this"  data-src="/static/images/portfolio/gallery/g-skaterboy.jpg"  data-sub-html="#05" >  	
								<a href="#" class="overlay">
									 <img src="/static/images/portfolio/skaterboy.jpg" alt="Bicycle">	                     
									<div class="item-text">	     					    
												  <span class="folio-types">
													  Branding
												  </span>
												  <h3 class="folio-title">Skaterboy</h3>
											  </div>                                        
								</a>
								<a href="https://www.behance.net/" class='details-link' title="details">
									 <i class="icon-link"></i>
								</a>
							</div> <!-- end item-wrap
  
							<div id="05" class='hide'>
										<h4>Skaterboy</h4>
										<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
								  </div>	               
							 </div> <!-- end folio-item
					  
							 <div class="brick folio-item">
							<div class="item-wrap animate-this"  data-src="/static/images/portfolio/gallery/g-salad.jpg"  data-sub-html="#06">     	
								<a href="#" class="overlay">
									 <img src="/static/images/portfolio/salad.jpg" alt="Salad">	                     
									<div class="item-text">	     					    
												  <span class="folio-types">
													  Branding
												  </span>
												  <h3 class="folio-title">Salad</h3>
											  </div>                                        
								</a>
								<a href="https://www.behance.net/" class='details-link' title="details">
									 <i class="icon-link"></i>
								</a>
							</div> <!-- end item-wrap
  
							<div id="06" class='hide'>
										<h4>Salad</h4>
										<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
								  </div>	               
							 </div> <!-- end folio-item   				
  
					  </div> <!-- end folio-wrap
				 </div> <!-- end twelve
			</div> <!-- end portfolio-content   	
  
	  </section>  <!-- end portfolio -->

      
	<!-- stats
   ================================================== 
   <section id="clients">

		<div class="row animate-this">
			<div class="col-twelve">

				<div class="client-lists owl-carousel">
  					<div><img src="/static/images/clients/mozilla.png" alt=""></div>
  					<div><img src="/static/images/clients/bower.png" alt=""></div>
  					<div><img src="/static/images/clients/codepen.png" alt=""></div>
  					<div><img src="/static/images/clients/envato.png" alt=""></div>
  					<div><img src="/static/images/clients/firefox.png" alt=""></div>
  					<div><img src="/static/images/clients/grunt.png" alt=""></div>
  					<div><img src="/static/images/clients/evernote.png" alt=""></div>
  					<div><img src="/static/images/clients/github.png" alt=""></div>
  					<div><img src="/static/images/clients/joomla.png" alt=""></div>
  					<div><img src="/static/images/clients/jQuery.png" alt=""></div>
  					<div><img src="/static/images/clients/wordpress.png" alt=""></div>
				</div>
				
			</div> end col-twelve
		</div> end row

   </section> end clients -->

