<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

	<!--- basic page needs
   ================================================== -->
	<meta charset="utf-8">
	<title>Evionix-Augmenting Humanity</title>
	<meta name="description" content="human augmentation,augmentation,prosthesis,EMG,medical,startup,innovation">
	<meta name="author" content="Sayan Bandyopadhyay">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
   ================================================== -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

	<!-- script
   ================================================== -->
	<script src="{{ url_for('static', filename='js/modernizr.js')}}"></script>


	<!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">

	<script>jQuery.noConflict();
		// Use jQuery via jQuery() instead of via $()
		jQuery(document).ready(function(){
			jQuery("div").hide();
		});</script>

</head>

<body id="top">

	<!-- header 
   ================================================== -->
	<header>

		<div class="header-logo">
			<a href="/"></a>
		</div>

		<a id="header-menu-trigger" href="#0">
			<span class="header-menu-text">Menu</span>
			<span class="header-menu-icon"></span>
		</a>

		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close"><span>Close</span></a>

			<h3>Evionix.</h3>

			<ul class="nav-list">
				<li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
				<li><a class="smoothscroll" href="#about" title="">About</a></li>
				<li><a class="smoothscroll" href="#services" title="">Vision</a></li>
				<li><a class="smoothscroll" href="#blog" title="">Blog</a></li>
				<li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
				<li><a href={{url_for('login')}}>Login</a></li>	
			</ul>

			<ul class="header-social-list">
				<li>
					<a href="https://www.facebook.com/evionix/" target="_blank"><i class="fa fa-facebook-square"></i></a>
				</li>
				<li>
					<a href="https://www.linkedin.com/company/creationlabs/" target="_blank"><i class="fa fa-linkedin"></i></a>
				</li>
				<li>
					<a href="https://github.com/Sayan97" target="_blank"><i class="fa fa-github"></i></a>
				</li>
			</ul>

		</nav> <!-- end #menu-nav-wrap -->

	</header> <!-- end header -->


	<!-- home
   ================================================== -->
	<section id="home">

		<div class="overlay"></div>
		<div class="page">
			<div class="home-content-table">
				<div class="home-content-tablecell">
					<div class="row">
						<div class="col-twelve">

							<h3 class="animate-intro">We Are Evionix.</h3>
							<h1 class="animate-intro">
								Human Augmentation <br>
								Redefined.
							</h1>


							<a class="smoothscroll button stroke" href="#media-popup" data-media="//www.youtube.com/embed/9Iz_liFLzq0">click
								me</a>
							<div class="popup" id="media-popup">
								<div class="video-container">
									<iframe src="" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
						</div>

					</div> <!-- end col-twelve -->
				</div> <!-- end row -->
			</div> <!-- end home-content-tablecell -->
		</div> <!-- end home-content-table -->

		<ul class="home-social-list">
			<li class="animate-intro">
				<a href="https://www.facebook.com/evionix/" target="_blank"><i class="fa fa-facebook-square"></i></a>
			</li>
			<li class="animate-intro">
				<a href="https://www.linkedin.com/company/creationlabs/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
			</li>
		</ul> <!-- end home-social-list -->

		<div class="scrolldown">
			<a href="#about" class="scroll-icon smoothscroll">
				Scroll Down
				<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
			</a>
		</div>

	</section> <!-- end home -->


	<!-- about
   ================================================== -->
	<section id="about">

		<div class="row about-wrap">
			<div class="col-full">

				<div class="about-profile-bg"></div>

				<div class="intro">
					<h3 class="animate-this">About Us</h3>
					<hr style="border-top: 0.15rem solid;">
					<p class="lead animate-this"><span>Evionix</span> is an innovation start-up, working towards the development of
						radical new technologies in the medical technology domain focusing on human augmentation and rehabilitation.</p>
				</div>

			</div> <!-- end col-full  -->
		</div> <!-- end about-wrap  -->

	</section> <!-- end about -->


	<!-- about
   ================================================== -->
	<section id="services">

		<div class="overlay"></div>
		<div class="gradient-overlay"></div>

		<div class="row narrow section-intro with-bottom-sep animate-this">
			<div class="col-full">

				<h3>Vision</h3>
				<h1>A Consumer Centric Innovations Start-up</h1>

				<p class="lead">India houses more than 10 million upper limb (Hand) amputees. Most of the amputees belong to low
					income and/or lower middle-class background and cannot afford expensive prosthesis. Thus we seek to bridge the
					rift between economically separated communities through affordable health-tech.</p>

			</div> <!-- end col-full -->
		</div> <!-- end row -->

		<div class="row services-content">

			<div class="services-list block-1-2 block-tab-full group">

				<div class="bgrid service-item animate-this">

					<span class="icon"><i class="icon-lego-block"></i></span>

					<div class="service-content">
						<h3 class="h05">Integration</h3>

						<p>Creating technology that is adaptive and can be used by various different users without changes in design is a
							core tenet. We have simplified the process of integrating a Prosthetic with the amputee by orders of magnitude.
						</p>
					</div>

				</div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">

					<span class="icon"><i class="icon-plug"></i></span>

					<div class="service-content">
						<h3 class="h05">Modularity</h3>

						<p>The Eklavya device is a prosthetic, which is capable of being dismantled in minutes and developed in a modular
							form to allow for multiple extensions to be attached. Parts can be just as easily replaced as added.</p>
					</div>

				</div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">

					<span class="icon"><i class="icon-dollar"></i></span>

					<div class="service-content">
						<h3 class="h05">Economic</h3>

						<p>All devices being built are aimed towards being affordable for lower income bracket segments. These are
							therapeutic, rehabilitation as well as augmentation devices that can be afforded by the common man, as well as
							the healthcare professional.
						</p>
					</div>

				</div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">

					<span class="icon"><i class="icon-thunderbolt"></i></span>

					<div class="service-content">
						<h3 class="h05">Research</h3>

						<p>We are driving cutting edge innovation with a team of inspired and talented individuals to create medical
							technology that adheres to the needs of the patients as well as the healthcare industry.
						</p>
					</div>

				</div> <!-- end bgrid -->

			</div> <!-- end services-list -->

		</div> <!-- end services-content -->

	</section> <!-- end services -->

	<section id="blog">
		<div class="intro-wrap">
			<div class="row narrow section-intro with-bottom-sep animate-this">
				<div class="col-twelve">
					<h3>Blogs</h3>
					<h1>Gallery of Innovation</h1>

					<p class="lead">Keeping track of development for more than a year now, definitely has been an arduous journey, but
						amazing nonetheless.</p>
				</div>
			</div>
		</div>

		<div class="row blog-content">
			<div class="bricks-wrapper">
				{% for articles in article %}
				<div class="brick blog-item post animate-this">
					<span class="date">{{articles.date}}</span>
					<h3><a href="articles/{{articles.id}}">{{articles.title[:40]}}</a></h3>
					<p>{{articles.body[:150]+"..."}}</p>
					<p class="author"><img src="{{articles.image}}" alt="No Image Found"> <cite> {{articles.author}}</cite></p>
				</div>
				{% endfor %}
			</div>
		</div>

	</section>

	<!-- Testimonials Section
   ================================================== -->
	<section id="testimonials">

		<div class="row">
			<div class="col-twelve">
				<h2 class="animate-this">Meet The Team</h2>
			</div>
		</div>

		<div class="row flex-container">

			<div id="testimonial-slider" class="flex-slider animate-this">
				

				<ul class="slides">

					<div class="allslides">

							<li class="one-slide" id="slide-1">
									<p>
										The team's vision and scope is helmed by Sayan, a bio-medical engineer,
										having expertise in various technologies with entrepreneurial aspirations to create radical new devices with the
										correct market channels.
									</p>
			
									<div class="testimonial-author">
										<img src="{{ url_for('static', filename='images/avatars/user-01.jpg')}}" alt="Author image">
										<div class="author-info">
											Sayan Bandyopadhyay
											<span class="position">Founder</span>
										</div>
									</div>
								</li> <!-- end slide -->
			
								<li class="one-slide" id="slide-2">
									<p>
										Each team needs an executor, getting the work done. As team manager and an electrical engineer,
										Prithvi provides the much needed oversight as well as the electronics innovation that the devices need.
									</p>
			
									<div class="testimonial-author">
										<img src="{{ url_for('static', filename='images/avatars/user-02.jpg')}}" alt="Author image">
										<div class="author-info">
											Prithviraj Indi
											<span>Team Manager</span>
										</div>
									</div>
								</li> <!-- end slide -->
			
								<li class="one-slide" id="slide-3">
									<p>
										The reliability and strength of a team emanates from the engineers it keeps. Gaurav, the in-house specialist on
										manufacturing works on novel techniques to solve real-world design issues and user-friendly methods of product
										delivery.
									</p>
			
									<div class="testimonial-author">
										<img src="{{ url_for('static', filename='images/avatars/user-03.jpg')}}" alt="Author image">
										<div class="author-info">
											Gaurav Mathur
											<span>Product Designer</span>
										</div>
									</div>
								</li> <!-- end slide -->
			
								<li class="one-slide" id="slide-4">
									<p>
										A design philospohy is only as good as its designer.
										Aman is crucial to the creation and mechanical viability of the Eklavya device,
										providing expertise as the in-house mechanical engineer.
									</p>
			
									<div class="testimonial-author">
										<img src="{{ url_for('static', filename='images/avatars/user-04.jpg')}}" alt="Author image">
										<div class="author-info">
											Aman Chaure
											<span>Mechanical Design Engineer</span>
										</div>
									</div>
								</li> <!-- end slide -->
			
								<li class="one-slide" id="slide-5">
									<p>
										Documentation of an enterprising team is a crucial endeavour,
										helmed and created by Gaatha. In-charge of the blogs as well as client-side
										relations are handled by our very own content manager.
									</p>
			
									<div class="testimonial-author">
										<img src="{{ url_for('static', filename='images/avatars/user-05.jpg')}}" alt="Author image">
										<div class="author-info">
											Gaatha Bhatia
											<span>Content Manager</span>
										</div>
									</div>
								</li> <!-- end slide -->
					</div>

					
					<a href="#slide-1">⚫</a>
					<a href="#slide-2">⚫</a>
					<a href="#slide-3">⚫</a>
					<a href="#slide-4">⚫</a>
					<a href="#slide-5">⚫</a>

				</ul> <!-- end slides -->

			</div> <!-- end testimonial-slider -->

		</div> <!-- end flex-container -->

	</section> <!-- end testimonials -->

	<!-- contact
   ================================================== -->
	<section id="contact">

		<div class="overlay"></div>

		<div class="row narrow section-intro with-bottom-sep">
			<div class="col-twelve">
				<h3>Contact</h3>
				<h1>Get In Touch.</h1>

				<p class="lead">If you have any ideas, collaborations or something that you would like to tell us, please get in
					touch with us. We would love to know more.</p>
			</div>
		</div> <!-- end section-intro -->

		<div class="row contact-content">

			<div class="col-seven tab-full">

				<h5>Send Us A Message</h5>

				<!-- form -->
				<form name="contactForm" id="contactForm" method="post" action="/form">

					<div class="form-field">
						<input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
					</div>

					<div class="row">
						<div class="col-six tab-full">
							<div class="form-field">
								<input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
							</div>
						</div>
						<div class="col-six tab-full">
							<div class="form-field">
								<input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
							</div>
						</div>
					</div>

					<div class="form-field">
						<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
					</div>

					<div class="form-field">
						<button class="submitform" type="submit">Submit</button>

						<div id="submit-loader">
							<div class="text-loader">Sending...</div>
							<div class="s-loader">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
					</div>

				</form> <!-- end form -->

				<!-- contact-warning -->
				<div id="message-warning"></div>

				<!-- contact-success -->
				<div id="message-success">
					<i class="fa fa-check"></i>Your message was sent, thank you!<br>
				</div>

			</div> <!-- end col-seven -->

			<div class="col-four tab-full contact-info end">

				<h5>Contact Information</h5>

				<div class="cinfo">
					<h6>Where to Find Us</h6>
					<p>
						Creation Labs, <br>
						Vellore Institute of Technology<br>
						Vellore - Tamil Nadu,<br>
						India 632014
					</p>
				</div> <!-- end cinfo -->

				<div class="cinfo">
					<h6>Email Us At</h6>
					<p>
						contactus@evionix.in
					</p>
				</div> <!-- end cinfo -->

				<div class="cinfo">
					<h6>Call Us At</h6>
					<p>
						Phone: (+44) - 7783465928
					</p>
				</div>

			</div> <!-- end cinfo -->

		</div> <!-- end row contact-content -->

	</section> <!-- end contact -->


	<!-- footer
   ================================================== -->
	<footer>
		<div class="footer-main">

			<div class="row">

				<div class="col-five tab-full footer-about">

					<h4 class="h05">Evionix</h4>

					<p>We are constantly striving to reach out to as many people as we can at a time. This requires you as a part of
						our small team to make us known to the people who really need us.</p>

				</div> <!-- end footer-about -->

				<div class="col-three tab-full footer-social">

					<h4 class="h05">Follow Us.</h4>

					<ul class="list-links">
						<li><a href="https://www.facebook.com/evionix/">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Instagram</a></li>
					</ul>

				</div> <!-- end footer-social -->

				<div class="col-four tab-full footer-subscribe end">

					<h4 class="h05">Get Notified.</h4>

					<p>Make sure to follow us to know more about our innovations and what's cooking in our lab</p>

					<div class="subscribe-form">

						<form id="mc-form" class="group" novalidate="true" action="/notify">

							<input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="type email" required="">

							<!-- <input type="submit" name="subscribe" > -->
							<button><i class="icon-mail"></i></button>

							<label for="mc-email" class="subscribe-message"></label>

						</form>

					</div>

				</div> <!-- end footer-subscribe -->

			</div> <!-- end row -->

		</div> <!-- end footer-main -->

		<div class="footer-bottom">

			<div class="row">

				<div class="col-twelve">
					<div class="copyright">
						<span>© Copyright Evionix 2018.</span>
						<span>Design by Sayan Bandyopadhyay</span>
					</div>
				</div>

			</div>

		</div> <!-- end footer-bottom -->

		<div id="go-top">
			<a class="smoothscroll" title="Back to Top" href="#top">
				<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
			</a>
		</div>
	</footer>

	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
   ================================================== -->
    <script src="{{ url_for('static', filename='js/pace.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/plugins.js')}}"></script>
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>

</html>