{% extends 'layout.html' %}

{% block body %}
<div class="log">
<form class="login-form" action="" method="post" novalidate>
    <h1 class="animate-this">Sign In</h1>
    {{form.hidden_tag()}}
    <p>
        <!-- {{form.username.label}} <br> -->
        {{form.username(placeholder="Username",size=32)}}
        {% for error in form.username.errors %}
        <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <!-- {{form.password.label}} <br> -->
        {{form.password(placeholder="Password",size=32)}}
        {% for error in form.password.errors %}
        <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p> {{form.remember_me()}} {{form.remember_me.label}} </p>
    <p> {{form.submit}} </p>
    </form>
</div>
    {% endblock %}